# Hugo build output
/public/
/resources/_gen/
/.hugo_build.lock

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Node/npm (if used for tooling)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
raw